## Flask-limiter configuration
{%- if use_flask_executor %}
from flask_executor import Executor
{%- endif %}
{%- if use_flask_apscheduler %}
from flask_apscheduler import APScheduler
{%- endif %}
from flask_limiter import Limiter
from flask_limiter.util import get_remote_address

limiter = Limiter(get_remote_address)

{%- if use_flask_executor %}
executor = Executor()
{%- endif %}

{%- if use_flask_apscheduler %}
scheduler = APScheduler()
{%- endif %}

def health():
    return "OK", 200
