"""Log scheduler events."""

from loguru import logger

from {{ module_name }}.core import scheduler

def job_missed(event):
    """Job missed event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001


def job_error(event):
    """Job error event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001


def job_executed(event):
    """Job executed event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001


def job_added(event):
    """Job added event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001


def job_removed(event):
    """Job removed event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001


def job_submitted(event):
    """Job scheduled to run event."""
    with scheduler.app.app_context():
        logger.debug(event)  # noqa: T001
