[project]
name = "{{ module_name }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"

dependencies = [
    "flask>=3.1.0",
{%- if use_flask_executor %}
    "flask-executor>=1.0.0",
{%- endif %}
{%- if use_htmx %}
    "flask-htmx>=0.4.0",
{%- endif %}
    "flask-limiter>=3.10.1",
    "flask-migrate>=4.1.0",
{%- if use_flask_restx %}
    "flask-restx>=1.3.0",
{%- endif %}
    "flask-sqlalchemy>=3.1.1",
    "flask-wtf>=1.2.2",
    "gunicorn>=23.0.0",
    "loguru>=0.7.3",
    "python-dotenv>=1.0.1",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[dependency-groups]
dev = [
    "bandit>=1.8.3",
    "black>=25.1.0",
    "freezegun>=1.5.1",
    "isort>=6.0.0",
    "mypy>=1.15.0",
    "pytest>=8.3.4",
    "pytest-env>=1.1.5",
    "pytest-mock>=3.14.0",
    "ruff>=0.9.6",
    "tox>=4.24.1",
]

[tool.tox]
env_list = ["py313"]
isolated_build = true

[tool.pytest_env]
FLASK_ENV="testing"
