from flask import (Blueprint, abort, current_app, flash, redirect,
                   render_template, send_file)
from loguru import logger

blueprint = Blueprint("main", __name__)


@blueprint.route("/")
def index():
    return render_template("index.html")
