<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>
    {% raw %}{% block title %}{% endraw %}
    {{ '{{' }} app_name {{ '}}' }}
    {% raw %}{% endblock %}{% endraw %}
    </title>

    {%- if use_pico_css %}
    <!-- Pico CSS 2.0 -->
    <link rel="stylesheet" href="{{ '{{' }} url_for('static', filename='css/pico.min.css') {{ '}}' }}">
    {%- endif %}

    {%- if use_htmx %}
    <!-- HTMX 2.0.1 -->
    <script src="{{ '{{' }} url_for('static', filename='js/htmx.min.js') {{ '}}' }}" defer></script>
    <!-- HTMX Extensions 2.0.0 -->
    <script src="{{ '{{' }} url_for('static', filename='js/response-targets.js') {{ '}}' }}" defer></script>
    <!-- Hyperscript 0.9.12 -->
    <script src="{{ '{{' }} url_for('static', filename='js/hyperscript.min.js') {{ '}}' }}" defer></script>
    {%- endif %}

    {% block extra_head %}
    {% endblock %}
</head>

{% if use_htmx %}
<body hx-ext="response-targets">
{% else %}
<body>
{% endif %}

    <!-- Header -->
    <header class="container">
      <nav>
      <hgroup>
        <h1>{{ '{{' }} app_name {{ '}}' }}</h1>
      </hgroup>
        <ul>
            <li><a href="{{ '{{' }} url_for('main.index') {{ '}}' }}">Home</a></li>
        </ul>
      </nav>
    </header>
    <!-- ./ Header -->

    <!-- Main Content Section -->
    <main class="container">
        <!-- Notifications -->
        {% raw %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <article>
            {{ message }}
        </article>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endraw %}

        <div id="notification"></div>

        {% raw %}{% block content %}{% endraw %}
        {% raw %}{% endblock %}{% endraw %}
    </main>

    <!-- Footer -->
    <footer class="container">
        <hr />
        <p>&copy; {{ '{{' }} now.year {{ '}}' }} - {{ '{{' }} app_name {{ '}}' }}. All rights reserved.</p>
    </footer>

</body>
</html>